*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url(asset/bg.gif);
}
.logo{
 width: 150px;
 margin-top: 20px;
 margin-bottom: 0;
 margin-left: auto;
 margin-right: auto;
}
.logo img{
    margin:0 auto;
	width: 100%;
}
.container h2{
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: Microsoft Yahei;
	font-size: 2.5em;
	text-align: center;
}
body p{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0;
}
body p{
	font-size:2em;
}
.choose-container
{
	margin: 10px auto;
	width: 95%;
	padding: 10px;
	background-color: #fff;
	opacity: 0.8;
	border-radius: 10px;
    box-shadow: 1px 1px 1px grey;
    
}
.form-control{
	text-align: center;
}
.choosewd{
	margin-top: 10px;
	padding: 0;
    text-align: center;
}

.choose{
	margin-top: 10px;
	padding: 0;
    text-align: center;
}

footer{
  bottom:0;
  width: 100%;
  text-align: center;
  bottom:0;
  font-size: 8px;
  font-style: italic;
} 
footer a{
	cursor: pointer;
	color: inherit;
}
