*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url(asset/bg.gif);
}
.logo{
 width: 180px;
 margin-top: 20px;
 margin-left: auto;
 margin-right: auto;
 /*box-shadow: 2px 2px 2px grey;*/
 /*background-color: #fff;*/
}
.logo img{
    margin:0 auto;
	width: 90%;
}
h2,p{
	text-align: center;
}
body p{
	font-size:2em;
}
.choose-container
{
	margin: 20px auto;
	width: 95%;
	padding:30px;
	background-color: #fff;
	opacity: 0.8;
	border-radius: 10px;
    box-shadow: 1px 1px 1px grey;
    
}
.choose{
    text-align: center;
}
footer{
  bottom:0;
  width: 100%;
  text-align: center;
  bottom:0;
  font-size: 8px;
  font-style: italic;
} 
footer a{
	cursor: pointer;
	color: inherit;
}
