*{
	margin:0px;
	padding: 0px;
}
body{
	background-image: url(asset/bg.gif);
}
nav {
	margin:18px;
	border-radius: 5px;
}
footer{
  bottom:0;
  width: 100%;
  text-align: center;
  position:absolute;
  bottom:0;
  font-size: 8px;
  font-style: italic;
} 
footer a{
	cursor: pointer;
	color: inherit;
}
.results{
	margin-top: 100px;
}